.row1 .rowInfo {
  font-size: 3vw;
}

.row2 .rowInfo {
  font-size: 1.5vw;
  font-weight: 300;
}

.row3 .rowInfo {
  font-size: 2.5vw;
  font-weight: 100;
}

.rowName {
  font-size: 1.5vw;
  font-weight: 500;
  text-align: left;
}

.table {
  position: relative;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vw;
  margin-bottom: 30vw;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 2vw;
  border: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
}

.table:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.45);
  transform: translate(0px, -10px);
}

.th {
  padding: 2.5vw;
}

.rowInfo {
  text-align: center;
}

.database {
  position: absolute;
  bottom: 9%;
  left: 26%;
  font-size: 1vw;
}

@media only screen and (max-width: 950px) {
  .row1 .rowInfo {
    font-size: 4vw;
  }

  .row2 .rowInfo {
    font-size: 2vw;
  }

  .row3 .rowInfo {
    font-size: 3.5vw;
  }

  .rowName {
    font-size: 2.5vw;
  }

  .database {
    position: absolute;
    bottom: 7%;
    left: 27%;
    font-size: 1vw;
  }
}

@media only screen and (max-width: 780px) {
  .row1 .rowInfo {
    font-size: 4.5vw;
  }

  .row2 .rowInfo {
    font-size: 2.5vw;
  }

  .row3 .rowInfo {
    font-size: 4vw;
  }

  .rowName {
    font-size: 3vw;
  }

  .table {
    width: 100%;
    border-radius: 0;
  }
}

@media only screen and (max-width: 500px) {
  .row1 .rowInfo {
    font-size: 4.8vw;
  }

  .row2 .rowInfo {
    font-size: 3vw;
  }

  .row3 .rowInfo {
    font-size: 4.3vw;
  }

  .rowName {
    font-size: 3.3vw;
  }
}
